@font-face {
  font-family: 'Averia';
  src: local('Averia'),
    url(./assets/fonts/Averia\ Serif\ Libre.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: Averia, fantasy;
  /* color: rgb(0, 122, 47); */
  background-color: rgb(00, 00, 00);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
